# Copy this file to .env

CLIENT_ID="<client_id>"
USER_OAUTH_TOKEN="<user_oauth_token>"
ACCES_TOKEN="<access_token>"
INITIAL_CHANNEL="<initial-channel>"

USER_CHANNEL_ID=1234
MODERATOR_ID=1234
# To get you channel_id:
#$  curl -X GET 'https://api.twitch.tv/helix/users?login=<username>' \
#$ -H 'Authorization: Bearer <access token>' \
#$ -H 'Client-Id: <client id>'

