CLIENT_ID = "my_little_client_id"     # Client ID for the twitch application (found on https://dev.twitch.tv/console)
CLIENT_SECRET = "my_little_secret" # Application secret
# 4. Generate a token with scopes with:
#   twitch token -u -s 'chat:read user:read:follows'
#   or use twitchtokengenerat
TOKEN = "thats_a_tmi_token_i_think"
# 5. Register with the github account at https://ngrok.com
# 6. Download and install ngrok on your local machine to create a websocket tunel
# 7. copy the 'Forwarding' url from the command 'ngrok http 6868'
# NOTE: The callback URL has to be the same as defined in the twitch console
#CALLBACK = "https://codingwithstrangers.com/callback" # for production
CALLBACK = "http://localhost:8686" # for local testing
CHANNEL_NAME = '["codingwithstrangers", "grimybadger"]'
# BROADCASTER_ID is the id for the broadcaster, can technically be the same as the bot
BROADCASTER_ID = 694204321
# MODEARTOR_ID is the id for our twitch bot account (who has to be a moderator? I don't know tbh)
MODERATOR_ID = 12342069
# WEBOOK_SECRET is a >10 digit random string. If this string changes then you need to reauthorize the twitch app for every (click the 'Click this' link again).
WEBHOOK_SECRET = "1234567890987654321"
ESCLIENT_PORT = 8686
